.slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px; 
}
.slide {
    flex: 1 0 calc(33.333% - 10px); /* 33.333% ширины минус половина отступа */
    box-sizing: border-box;
}

.control {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    cursor: pointer;
}